logicaapp-synapse-sqlpool/pause-resume-scale/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "uaecentral",
        "uaenorth",
        "southafricanorth",
        "southafricawest",
        "switzerlandnorth",
        "switzerlandwest",
        "germanynorth",
        "germanywestcentral",
        "norwayeast",
        "brazilsoutheast"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "subscriptionId": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "subscriptionId",
                    "type": "string",
                    "value": "@{triggerBody()?['subscriptionId']}"
                  }
                ]
              },
              "runAfter": {}
            },
            "HTTP_200_Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200
              },
              "runAfter": {
                "HTTP": [
                  "Succeeded"
                ]
              }
            },
            "resourceGroupName": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "resourceGroupName",
                    "type": "string",
                    "value": "@{triggerBody()?['resourceGroupName']}"
                  }
                ]
              },
              "runAfter": {
                "workspaceName": [
                  "Succeeded"
                ]
              }
            },
            "workspaceName": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "workspaceName",
                    "type": "string",
                    "value": "@{triggerBody()?['workspaceName']}"
                  }
                ]
              },
              "runAfter": {
                "subscriptionId": [
                  "Succeeded"
                ]
              }
            },
            "sqlPoolName": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "sqlPoolName",
                    "type": "string",
                    "value": "@{triggerBody()?['sqlPoolName']}"
                  }
                ]
              },
              "runAfter": {
                "resourceGroupName": [
                  "Succeeded"
                ]
              }
            },
            "apiVersion": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "apiVersion",
                    "type": "string",
                    "value": "@{triggerBody()?['apiVersion']}"
                  }
                ]
              },
              "runAfter": {
                "sqlPoolName": [
                  "Succeeded"
                ]
              }
            },
            "getURI": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "getURI",
                    "type": "string",
                    "value": "@{concat('https://management.azure.com/subscriptions/',variables('subscriptionId'),'/resourceGroups/',variables('resourceGroupName'),'/providers/Microsoft.Synapse/workspaces/', variables('workspaceName'),'/sqlPools/',variables('sqlPoolName'),'?api-version=',variables('apiVersion'))}"
                  }
                ]
              },
              "runAfter": {
                "apiVersion": [
                  "Succeeded"
                ]
              }
            },
            "HTTP": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@{variables('getURI')}",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                }
              },
              "runAfter": {
                "getURI": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscriptionId": {
                      "type": "string"
                    },
                    "resourceGroupName": {
                      "type": "string"
                    },
                    "workspaceName": {
                      "type": "string"
                    },
                    "sqlPoolName": {
                      "type": "string"
                    },
                    "apiVersion": {
                      "type": "string"
                    }
                  }
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}